<h1>Stupid Coaching</h1>

<div class="question">
  <p> <%= @answer[0] %></p>
  <p class="owner"> Your question</p>
</div>

<div class="answer">
  <p><%= @answer[1] %></p>
  <p class="owner">Your beloved coach</p>
</div>


<p><%= link_to 'Ask a new question', ask_path %></p>

